* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: 80px;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #3d3e3e;
    width: 100%;
    padding: 20px 0;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

#tete.scrolled {
    padding: 5px 0;
    background: #3d3e3e;
    backdrop-filter: blur(5px);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content p {
    color: rgb(177, 241, 248);
    font-size: 24px;
    margin: 0;
    padding: 10px;
}

.menu {
    display: flex;
    gap: 40px;
    padding: 15px 30px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.menu a:hover {
    color: rgb(177, 241, 248);
}

.section#accueil, section#accueil {
    padding: 100px 40px;
    background-color: #bbbbbbca;
}

.self {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    gap: 40px;
    margin-bottom: 30px;
    justify-content: space-between; 
    width: 100%;
}

.text-content {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: baseline;
}

.photo-dev {
    width: 600px;
    height: auto;
    border-radius: 8px;
}

section#accueil .Bienvenue {
    font-size: 36px;
    text-align: center;
    margin: 0 0 50px 0;
    width: 100%;
}

section#accueil p.principal {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

section#accueil p.suite {
    font-size: 18px;
    text-align: center;
    margin-top: -10px;
    color: #333;
}

section#accueil button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3498DB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

section#accueil button:hover {
    background-color: #2980B9;
}

.text-content .cta {
    margin-top: 30px;
    align-self: center;
}

#apropos {
    padding: 50px 100px;
    background-color:cadetblue;
}

#apropos .self-2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center; 
    justify-content: space-between;
}

#apropos .text-content {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

#apropos h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

#apropos p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    text-align: left;
    max-width: 500px;
    margin: 0;
    padding: 10px;
    justify-content: baseline;
}

.photo-profil {
    width: 350px;
    height: auto;
    border-radius: 10%;
    margin: 0; 
}

.cta-2 {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 16px;
    background-color: #27AE60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-2:hover {
    background-color: #219150;
}

#projets {
    padding: 80px 40px;
    background-color:khaki;
    text-align: center;
}

#projets h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.projet-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.projet-1 {
    background-color:mediumspringgreen;
    border: 1px solid #ddd;
    border-radius: 12px;
    width: 300px;
    padding: 25px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projet-1:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.projet-1 p {
    margin-bottom: 10px;
    color:#333;
    line-height: 1.5;
    text-align: center;
}

.pro {
    color:#777;
    font-size: 14px;
    margin-bottom: 15px;
}

.projet-1 .btn {
    display: inline-block;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #E67E22;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.projet-1 .btn:hover {
    background-color: #D35400;
}

#Compétences {
    padding: 50px 40px;
    background-color: #f4f4f4;
}

#Compétences h2 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.Skill-container {
    display: flex;
    flex-wrap: rap;
    gap: 40px;
    justify-content: space-evenly;
    padding: 0 60px;
    width: 100%;
}

.Skills {
    flex: 1;
    min-width: 300;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Skills h3 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.CSkill {
    margin-bottom: 15px;
}

.CSkill span {
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
    color: #333;
}

.bar {
    width: 100%;
    height: 8px;
    background-color: #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #00c9d2;
    border-radius: 10px;
    width: 0;
    transition: width 3s ease;
}

#contact {
    padding: 50px 40px;
    background-color: #d3d3d3;
    text-align: center;
}

#contact h2 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

#contact p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
    display:inline-block;
    flex-direction:column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

.form-group input {
    padding: 10px;
    border: 1px solid #5cadfd;
    border-radius: 5px;
    font-size: 11px;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #5cadfd;
    border-radius: 5px;
    font-size: 16px;
    font-family: inherit;
    resize: vertical;
}

form button {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #3498DB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display:block;
    margin: 20px auto;
}

form button:hover {
    background-color: #2980B9;
}

footer {
    background-color: #3d3e3e;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

footer strong {
    color:aqua;
}